/* Estilo para o indicador de página */
.page-indicator {
    background-color: gray; /* Mesma cor do header */
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #333; /* Linha de separação combinando com o esquema de cores */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

.page-indicator h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold; /* Título mais destacado */
}

.page-indicator h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold; /* Título mais destacado */
}

.separar{
    margin-top: 25px;
    margin-bottom: 10px;
}

/* Estilo para a seção de categorias */
.background {
    background-color: #D3D3D3; /* Mesma cor de fundo */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

#categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.category {
    background-color: #333; /* Mesma cor do header */
    color: #fff;
    padding: 20px;
    border: 2px solid #e74c3c; /* Borda que combina com o esquema de cores */
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: calc(30% - 40px); /* Ajusta a largura das categorias para 3 por linha */
}

.category:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.category a {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    font-weight: bold; /* Título mais destacado */
}

.category a:hover {
    text-decoration: underline;
}

/* Estilo para o container dos itens da categoria */
.category-items-container {
    padding: 40px 20px;
    background-color: #D3D3D3;
}

.category-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.category-items-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.category-item {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: calc(33.333% - 40px);
}

.category-item-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}

.category-item-details {
    text-align: left;
}

#category-item-title a {
    font-size: 1.5em;
    color: #e74c3c;
    text-decoration: none;
    margin-bottom: 10px;
}

.category-item-title:hover {
    text-decoration: underline;
}

.category-item-price {
    font-size: 1.2em;
    color: white;
    margin-bottom: 10px;
}

.category-delete-button {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.category-delete-button:hover {
    background-color: #c0392b;
}

.add-category-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.category-delete-container{
    margin-top: 60px;
    margin-bottom: 15px;
}

/* Estilo Formulário Adição Categoria */
/* CSS Adicional para addCategory.php */
.add-category-form-container {
    background-color: #333; /* Cor de fundo */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    max-width: 500px;
    margin: 0 auto; /* Centralizar o formulário */
}

.add-category-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #e74c3c;
}

.add-category-form-container form {
    display: flex;
    flex-direction: column;
}

.add-category-form-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

.add-category-form-container input[type="text"],
.add-category-form-container input[type="file"] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #333; /* Cor da borda */
    border-radius: 5px;
}

.add-category-form-container input[type="submit"] {
    background-color: #e74c3c; /* Cor do botão */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-category-form-container input[type="submit"]:hover {
    background-color: #c0392b; /* Cor do botão ao passar o mouse */
}



/* Responsividade */
@media (max-width: 768px) {
    .category-item {
        width: calc(100% - 40px);
    }
}

@media (max-width: 768px) {
    .category {
        width: calc(100% - 40px); /* Ajusta a largura das categorias para telas menores */
    }
}