/* Estilo para o indicador de página */
.page-indicator {
    background-color: gray; /* Mesma cor do header */
    color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #333; /* Linha de separação combinando com o esquema de cores */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

.page-indicator h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold; /* Título mais destacado */
}

/* Estilo para a seção de categorias */
.background {
    background-color: #D3D3D3; /* Mesma cor de fundo */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

#categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.category {
    background-color: #333; /* Mesma cor do header */
    color: #fff;
    padding: 20px;
    border: 2px solid #e74c3c; /* Borda que combina com o esquema de cores */
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: calc(30% - 40px); /* Ajusta a largura das categorias para 3 por linha */
}

.category:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.category a {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    font-weight: bold; /* Título mais destacado */
}

.category a:hover {
    text-decoration: underline;
}

/* Estilo para o container dos itens da categoria */
.category-items-container {
    padding: 40px 20px;
    background-color: #D3D3D3;
}

.category-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.category-items-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.category-item {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: calc(33.333% - 40px);
}

.category-item-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}

.category-item-details {
    text-align: left;
}

#category-item-title a {
    font-size: 1.5em;
    color: #e74c3c;
    text-decoration: none;
    margin-bottom: 10px;
}

.category-item-title:hover {
    text-decoration: underline;
}

.category-item-price {
    font-size: 1.2em;
    color: white;
    margin-bottom: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .category-item {
        width: calc(100% - 40px);
    }
}

@media (max-width: 768px) {
    .category {
        width: calc(100% - 40px); /* Ajusta a largura das categorias para telas menores */
    }
}